@media (max-width: 1200px) {
	.s1 .text {
		max-width: 49%;
	}
	.bg-cards {
		width: 100%;
	}
	.bg-cards .card {
		width: 31%;
	}
}
@media (max-width: 991px) {
	header nav {
		display: none;
	}
	header .menu-mobile {
		display: block;
	}

	.s1 .container {
		flex-direction: column;
	}

	.s1 .text {
		max-width: 100%;
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.s1 .text h1,
	p {
		text-align: center;
	}

	.bg-cards {
		flex-direction: column;
	}
	.bg-cards .card {
		width: 100%;
		max-width: 100%;
		height: auto;
		padding: 3rem;
		margin-bottom: 2rem;
	}
	.bg-cards .card:last-child {
		margin-bottom: 0rem;
	}
	.bg-cards .card .card-info {
		margin-top: 2rem;
		width: 100%;
		max-width: 100%;
	}
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
	html {
		font-size: 55%;
	}
	header .logo {
		max-width: 13rem;
	}
	.s1 {
		padding: 4rem 0px;
	}

	.s1 .text h1 {
		font-size: 4.2rem;
	}
	.s1 .text p {
		margin-bottom: 3rem;
	}
	.s1 .image {
		height: 30rem;
	}
	.s1 .image img {
		max-width: 100px;
	}
	.main-section {
		padding: 4rem 0;
	}
	.title p{
		text-align: center;
		max-width: 80%;
	}
	.main-section .main-area{
		padding-bottom: 4rem;
	}