@media (max-width: 1200px) {
	.s1 .text {
		max-width: 49%;
	}
	.bg-cards {
		width: 100%;
	}
	.bg-cards .card {
		width: 31%;
	}
	.second-area .all-images{
		gap: 2rem 2%;
	}
	.second-area .all-images .img-thumb{
		width: 23.5%;
	}
	footer .top-footer .right-content{
		max-width: 62rem;
	}

}
@media (max-width: 991px) {
	header nav {
		display: none;
	}
	header .menu-mobile {
		display: block;
	}

	.s1 .container {
		flex-direction: column;
	}

	.s1 .text {
		max-width: 100%;
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.s1 .text h1,
	p {
		text-align: center;
	}

	.bg-cards {
		flex-direction: column;
	}
	.bg-cards .card {
		width: 100%;
		max-width: 100%;
		height: auto;
		padding: 3rem;
		margin-bottom: 2rem;
	}
	.bg-cards .card:last-child {
		margin-bottom: 0rem;
	}
	.bg-cards .card .card-info {
		margin-top: 2rem;
		width: 100%;
		max-width: 100%;
	}
	footer .top-footer .right-content{
		max-width: 40rem;
	}
}
@media (max-width: 768px) {
	footer .top-footer{
		flex-direction: column;
		align-items: center;
	}
	footer .top-footer .left-content{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 4rem;
	}
	footer .top-footer .left-content p{
		text-align: center;
	}
	footer .top-footer .right-content {
		max-width: 100%;
	}
}
@media (max-width: 600px) {
	.second-area .top-area{
		flex-direction: column;
		align-items: center;
	}
	.second-area .top-area .title h2,p{
		text-align: center;

	}
	.second-area .top-area .title h2{
		margin-bottom: 0.8rem;
	}
	.second-area .top-area .title p{
		margin-bottom: 2rem;
	}
}
@media (max-width: 480px) {
	html {
		font-size: 55%;
	}
	header .logo {
		max-width: 13rem;
	}
	.s1 {
		padding: 4rem 0px;
	}

	.s1 .text h1 {
		font-size: 4.2rem;
	}
	.s1 .text p {
		margin-bottom: 3rem;
	}
	.s1 .image {
		height: 30rem;
	}
	.s1 .image img {
		max-width: 100px;
	}
	.main-section {
		padding: 4rem 0;
	}
	.title p{
		text-align: center;
		max-width: 80%;
	}
	.main-section .main-area{
		padding-bottom: 4rem;
	}
	.second-area .all-images .img-thumb{
		width: 49%;

	}
	.second-area .all-images{
		gap: 0.5rem 2%;
	}

	.second-area{
		margin-top: 4rem;
	}

	.second-area .top-area p{
		margin: 0 auto;
	}
	.newsletter{
		padding: 4rem 0px;
	}
	footer .lower-footer{
		flex-direction: column;
	}
	footer .lower-footer p{
		margin-bottom: 2rem;
	}
	footer .top-footer .right-content{
		flex-direction: column;
		align-items: center;
	}
	footer .top-footer .right-content .item{
		margin-bottom: 4rem;
	}
	footer .top-footer .right-content .item:last-child{
		margin-bottom: 0rem;
	}
	footer .top-footer .right-content .item ul{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer{
		padding: 4rem 0;
	}
	footer .top-footer{
		padding-bottom: 4rem;
	}
}